 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
 .secondary-bg{
    color: rgba(245, 222, 179, 0.527);
 }
.dark-2 {
    color: #474747;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

 /* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
   
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color:#474747 ;
}
.section-description{
    font-size: 18px;
    color: #474747;
}
nav ul {
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner-greetins{
font-size: 45px;
font-weight: 600;
}
.banner-title{
font-size: 85px;
font-weight: bold;
}
  .banner-profile-pic{
    width: 580px;
  }    
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 200px 230px;
  }      
  .banner-content{
    max-width: 580px;
  }
  .about{
    background-color: rgba(230, 228, 225, 0.877);
    border: none;
    margin: 2px 400px 10px;
    text-align: center;

  }
  .lorem{
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
  }
  .item-title{
    font-size: 600;
  }
  .skills{
    text-align: center;
    font-weight: 300;
     font-size: 20px;s
  }
    /* skills-container styles */
    .skills-container{
        display: flex;
        gap: 24px;
    }
    .skill{
        padding: 10px;
        box-shadow: 0px 6px 50px 0px black;
    }
    /* resume section styles */
    .resume-container{
        display: flex;
    }
    .resume-container{
        text-align: left;
        font-size: 20px;
        font-weight: 600;
    }
    .footer{
      padding: 150px 230px;
    }
    